.nod_header_wrap {
  width: 100%;
  background-color: white;
  z-index: 20;
  position: sticky;
  top: 0;
  border-bottom: 2px solid $color_primary;

  p {
    margin: 0;
  }

  .header_top {
    background-color: $color_primary;
    color: white;
    padding: 0px 200px;

    @include respond_below(md) {
      padding: 0px 10px;
    }

    .left {
      a {
        text-decoration: none;
        color: rgb(196, 195, 195);
        font-size: 14px;

        &:hover {
          color: white;
        }
      }
    }

    .wrapper {
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
      }

      .contact {
        display: flex;
        font-size: 14px;
        gap: 10px;
        max-width: fit-content;
        align-items: center;

        > div {
          display: flex;
          align-items: center;
          gap: 5px;
        }
        // justify-content: space-around;
      }
    }

    @include respond_below(lg) {
      .left {
        display: none;
      }

      .wrapper {
        > div {
          justify-content: center;
        }
      }
    }

    &.hidden {
      display: none;
    }
  }

  .nod_header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    .header_logo {
      height: 50px;
      display: flex;
      width: 100%;
      align-items: center;
      gap: 20px;

      p {
        font-weight: 600;
        font-size: 22px;
        margin: 0;
        width: 100%;
        color: $color_primary;
      }
    }
    .menu_toogle {
      display: initial;
      @include flecCenter;
      font-size: 28px;
      color: $color_primary;
      cursor: pointer;

      &:hover {
        color: black;
        transform: scale(1.1);
      }
    }

    @include respond_above(md) {
      .menu_toogle {
        display: none;
      }
    }

    .nav {
      // background-color: red;
      @include respond_above(md) {
        display: flex;
      }
      display: none;
      justify-content: center;
      align-items: center;
      gap: 20px;

      * {
        margin: 0;
      }

      .nav_link {
        text-decoration: none;
        color: black;
        margin: 0;
        width: max-content;

        &:hover {
          color: $color_primary;
        }

        &.active {
          color: $color_primary;
          font-weight: 600;
          border-bottom: 3px solid $color_primary;
        }
      }
    }
  }
}
