.card {
  border: 1px solid white;
  margin: 10px 0px 100px 0px;
  position: relative;
  background-color: $color_dark;
  color: $color_light;
  padding: 70px 20px 0 20px;
  @include respond-above(md) {
    min-height: 300px;
    margin: 10px 0px 100px 0px !important;
  }
  border-radius: 10px;

  h1 {
    text-align: center;
    font-weight: 600;
    color: $color_lightest;
    font-size: x-large;
  }

  p {
    font-size: medium;
  }
  .top {
    background-color: $color_light;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -50px;
    left: 50%;

    transform: translate(-50%, 0);
    border-radius: 50%;
    @include flecCenter;
    color: $color_dark;
    
    > div {
      width: 100%;
      height: 100%;
      @include flecCenter;
      svg {
        width: 50%;
        height: auto;
      }
    }
  }
}
