.nod_logo {
    height: 100%;
    // width: 100%;
    border-radius: 50%;
    img{
    border-radius: 50%;
    // filter: invert(94%) sepia(1%) saturate(7216%) hue-rotate(152deg)
    // brightness(104%) contrast(93%);
    width: auto;
    height: 100%;
  }

   
}

