$color_darkest : #161925;
$color_idle : #406E8E;
$color_light:#8EA8C3;
$color_lightest : #CBF7ED;


$color_red : #CF0A0A;
$color_orange : #DC5F00;
$color_primary : #4f65be;
$color_mid_grey : #f7f7fa;
$color_dark_grey : gray;